@font-face {
    font-family: Inter;
    src: url(font/Inter-VariableFont_opsz\,wght.ttf);
         
}
@font-face {
    font-family: 'instrument';
    src: url(font/InstrumentSerif-Italic.ttf) format("truetype");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;   
    overflow-x: hidden;
}

main{
    height: 100%;
    width: 100%;
    

}
nav{
    height: 80px;
    width: 100%;
    background-color: #001d21;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    
}
nav img{
    height: 40px;
    

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    color: rgb(179, 174, 174);
    
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

button{
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 12px 12px;
    cursor: pointer;
    font-weight: 600;
}
.page1{
    height:100%;
    width: 100%;
    background-color: #001d21;
}
.text{
    color: #cdcbff;
    text-align: center;
    
    
}
#hero_section_content{
    padding-top: 10px;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
    
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.images img{
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    /* width: auto; */
}

.page2{
    height: 100%;
    width: 100%;
    background-color: #f9f9f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding:40px;     */
}
.container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 40px;
    padding: 40px 40px;
}
.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    margin-top: 10px;
}
.about_head{
    font-family: serif;
    font-size: 20px;
    margin-left: -20px;
    
    
}
.about_rightcontent{
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    margin-left: 60px;
    font-style: normal;
    
}
.cards{
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    margin-left: 295px;
}
.card{
    height: 90px;
    width: 200px;
    /* background-color: grey; */
    border-left: 1.3px solid grey;
}
#num{
    font-family: Satoshi;
    font-size: 30px;
    font-weight: 500;
    padding-left: 10px;
}
#txt{
    font-family: Inter;
    font-size: 16px;
    padding-left: 10px;
}
.logos{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left:295px;
    gap: 60px;
}
.logo{
    height: 40px;
    width: auto;
    margin-top: -20px;
}
/* Page 3 */
.page3{
    height: 140%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.wrapper{
    /* height: 200px; */
    width: 100%;
    display: flex;
}
.team{
    font-size: 15px;
    font-family: Inter;
    color: #001d21;
    margin-top: 3px;
    margin-left: 10px;
}
#head_team{
    font-size: 40px;
    font-family: Inter;
    font-weight: 400;
    padding-top: 10px;
}
.avatar_section{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    /* padding-left:30px ; */
    gap: 20px;
}
.avatar1,.avatar2
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.profile img{
    height: 300px;
    width: 300px;
    border-radius: 20px; 
}
.prof-content,#name ,#pos{
    position: relative;
    top: -30px;
    left: 10px;
}
.prof-content #name{
    color: white;
    font-family: Inter;
    font-size: 20px;
}
.prof-content #pos{
    color: #969697;
    font-family: Inter;
    font-size: 15px;
    padding-top: 5px;
}
.page4{
    height: 100%;
    width: 100%;
    background-color: #001d21;
    display: flex;
    flex-direction: column;
    padding:40px;    
}
.circle4{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 10px;
}
.story{
    font-size: 16px;
    font-family: Inter;
    color: #fff;
    margin-top: -13px;
    margin-left: 20px;
}
#our_journey
{
    font-family: Inter;
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 20px;
}
#our_journey_content{
    padding-top:15px ;
    color: #9ea2a3;
    
}
.progress_bar{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}
.progress{
    font-size: 68px;
    font-weight: 400;
    font-family: Inter;
    /* color: #bfbff0; */
    color: #52637a;

}
.progress4{
    color: #bfbff0;
}
.liness
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #bfbff0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -80px;
}
.line_cir{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #52637a;

}
.line_cirsp{
    background-color:  #bfbff0;
}
#page4_below_content{
    color: #9ea2a3;
    font-family: Inter;
    padding-top: 40px;
    

}
.page5{
    height:120%;
    width: 100%;
    background-color: #f9f9f7;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.circle_5{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    margin-top: 10px;
}
.head_testi{

    color: #637576;
    font-size: 18px;
    font-family: Inter;
    padding-top:2px;
    padding-left: 10px;

}
#tst_image
{
    border-radius: 10px;
    height: 250px;
    width: 250px;
    position: relative;
    left: 5%;

}
.tst_content
{
    height: auto;
    width: auto;
    /* background-color: chocolate; */
    /* margin-top: 10px; */
    position: relative;
    top: 5%;
    left: 14%;
    font-size: 35px;
    color: #001d21;
    font-family: Inter,Satoshi,'sans-serif';
}
.tst_details{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    padding-left: 14%;
    padding-top: 3%;

}
.tst_name{
    color: #001d21;
    font-size: 24px;
    font-weight: 400;
    font-family: Inter;
}
.tst_pos{
    color:#b3b3ac;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}
.slider{
    
    height: 80px;
    width: 50%;
    /* border-radius: 50%; */
    margin-top: 50px;
    margin-left: 13%;
    display: flex;
    gap: 10px;
    
}
.arrow{
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 0.5px solid black;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    padding-top:5px ;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
.arrow:hover
{
    background-color: #c3dcf4;
}
.page6{
    height:160%;
    width: 100%;
    background-color: #001d21;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.center_content{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* background-color: blue; */
}
.c_c{
    font-size: 40px;
    font-family: Inter;
    font-weight: 500;
    color: #cdcbff;
}
.btn_cu{
    height: 40px;
    width: 100px;
    background-color: #FFF;
    color: black;
    font-family: Inter;
    transition: all 0.5s ease-in-out;
}
.btn_cu:hover{
    background-color: #000;
    color: #FFF;
    transform: scale(1.2);
}
.seprator{
    height: 2px;
    width: 100%;
    background-color:#2a3839;
}
.end_logo
{
    height: 400px;
    width: auto;
    padding-top: 50px;
}
#end_cont
{
    font-size: 18px;
    color: #9ea2a3;
    padding-top: 7%;
    display: inline;
    width: auto;
}
.end_nav{
    height: 200px;
    width: 45%;
    position: relative;
    left: 53%;
    top: -3%;
    display: flex;
    flex-direction: column;
}
.nav1
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: #9ea2a3;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Inter;

}
.aboutv1{
    
    font-weight: 900;
}
.below_icons{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: -5%;
    align-items: center;
    justify-content: space-between;
}
.icon_s{
    height: 45px;
    width: 45px;
    background-color: #142f32;
    border:1px solid #41585a;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    padding-top:5px ;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.icon_s img
{
   height: 35px;
   width: 35px;
   text-align: center;
   padding: 2px;
}
.footer
{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    color: #9ea2a3;;
}
